  <div class="container-fluid mt-5 about-style" id="aboutid">
    <div class="row">
      <div class="col-md-11 col-12 mx-auto">
        <h1 class="text-center main-heading">About Us</h1>
        <p class="text-center sub-heading">grow your business with us</p>
        <div class="row">
            <div class="col-md-6 col-12 hero-text">
            <figure>
              <img src="images/about.svg" alt="heroimage">
            </figure>
          </div>
          <div
            class="col-md-6 col-12 hero-text d-flex justify-content-center align-items-start flex-column">
            <h1>WE ARE THE PROFESSIONAL Developer✌</h1>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam eius eaque repellendus. Enim fugiat illum unde, eum nulla aut, mollitia aperiam eaque quia explicabo eos saepe commodi exercitationem, eveniet ullam!</p>
            <button class="btn-style btn-primary">Read More</button>
          </div>
        </div>
      </div>
    </div>
  </div>